body {
  background-color: #f6c708;
}

.container {
  margin: 20em auto;
  width: 100%;
  max-width: 1200px;
  padding: 1em;
  height: 100%;
}

.show {
  opacity: 100% !important;
}

.row {
  text-align: left;
  flex-direction: column !important;
}

.search__wrapper {
  z-index: 3;
  animation: 1s ease-out 1200ms 1 animateInLeft forwards;
}

/* STATS SECTION */
#stats {
  height: 40vh;
  padding: 0em 0em;
  margin: 3em 0em;
}

.stats__wrapper--home {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: transparent;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 16px;
  margin: 1em 1em;
  width: 250px; /* Set width to 100% initially */
  height: 250px; /* Set a maximum height */
  background-color: #fff1b8;
}

.stat__header {
  font-family: "Poppins", san-serif;
  font-size: 3em;
  color: #560120;
}

.stat__subheader {
  font-family: "Open-Sans", sans-serif;
  color: #560120;
}

.stat__header,
.stat__subheader {
  margin: 0; /* Remove default margin to ensure consistent spacing */
}

.stat__figure {
}

.stat__img {
  width: 30px;
  filter: invert(8%) sepia(31%) saturate(6542%) hue-rotate(320deg)
    brightness(101%) contrast(110%);
}

@media (max-width: 600px) {
  /* Adjust the size for larger screens if needed */
  .stats__wrapper--home {
    display: flex;
    flex-direction: column;
    background: transparent;
  }

  .stat {
    background-color: #fff1b8;
  }
}
